*
{
    box-sizing: border-box;
    margin: 0;
    line-height: 1.5;
}

@font-face {
    font-family: 'coolvetica'; /*a name to be used later*/
    src: url('../fonts/coolvetica/Coolvetica Rg.otf'); /*URL to font*/
}

:root
{
    --cl-text: hsl(317, 60%, 6%);
    --cl-background: hsl(15,33%,98%) ;
    --cl-primary: hsl(9, 100%, 94%);
    --cl-accent: hsl(180, 100%, 25%);
    --cl-accent-lighter: hsl(238, 42%, 70%);

    --f-family: "coolvetica", sans-serif;

    --fs-heading1: 2rem;
    --fs-heading2: 1.5rem;
    --fs-body: 1rem;

    --letter-spacing: 1.2px;
    --line-height: 1.6;

    --max-width: 1800px;
}

/*
################
   TYPOGRAPHY
################
 */

body
{

    background: var(--cl-background);
    color: var(--cl-text);
    font-family: var(--f-family);
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    font-size: var(--fs-body);
}


h1,
h2,
h3
{
    color: var(--cl-accent);
}
h1
{
    font-size: var(--fs-heading1);
    margin-bottom: 1em;
}

h2
{
    font-size: var(--fs-heading2);
}

h2,
h3,
h3 + p
{
    margin-bottom: 0.5em;
}

a{
    text-decoration: none;
    color: var(--cl-text);
}

a:hover
{
    color: var(--cl-accent);
}

/*
################
     LAYOUT
################
 */

/*
################
     HEADER
################
 */

header,
main,
footer
{
    max-width: var(--max-width);
    width:100%;
    margin: 0 auto;
}

header
{
    display: flex;
    height: 150px;
}

.navbar_container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    width: 100%;
    max-width: 2000px;
}

.navbar_container .navbar_menu
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    list-style: none;
}

.navbar_container .navbar_menu a
{
    text-decoration: none;
    font-size: var(--fs-heading2);
    padding: 0.3em 1.5em;
    border-radius: 25px;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.navbar_toggle
{
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: none;
}

.bar
{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: #000000;
    transition: all 0.3s ease-in-out;
}

.dropdown
{
    position: relative;
}

/* Dropdown Menu */


.dropdown_menu {

    position: absolute;
    background-color: var(--cl-background);
    top: 98%;
    left: -100%;
    width: 400px;
    height: 0;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 2;
    opacity: 0;
    transform: translateY(-10px); /* Slightly above the parent */
    transition: opacity 0.3s ease, transform 0.3s ease, height 0.3s ease; /* Smooth transition */
    list-style: none;
    overflow: hidden;
}

.dropdown_menu li
{
    padding: 0.3em 1.5em;
}

.dropdown:hover .dropdown_menu {
    height: auto;
    opacity: 1; /* Make it fully visible */
    transform: translateY(5px); /* Slide to original position */
}


#active,
.navbar_container .navbar_menu a:hover
{
    background: var(--cl-accent);
    color: white;
}

@media all and (max-width: 1500px) 
{

    .navbar_container .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem !important;
        position: absolute;
        z-index: 2;
        width: 350px;
        top: 0;
        right: 5px;
        padding: 8em 0 2em;
        background: var(--cl-background);
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }

    .navbar_container .dropdown_menu {
        top: -20%;
        left: -340%;
    }

    .navbar_container .navbar_menu.openNavbar {
        display: flex;
    }

    .navbar_toggle {
        display: block;
        z-index: 3;
    }

    .navbar_toggle.openNavbar .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar_toggle.openNavbar .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar_toggle.openNavbar .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (pointer: coarse)
{
    .dropdown
    {
        position: static;
        text-align: center;
    }

    .navbar_container  .dropdown_menu {
        position: static;
        height: auto;
        opacity: 1;
        box-shadow: none;
        transform: translate(-30px, 5px) !important;
        width: 350px;
        background: transparent;
        /*top: -20%;
        left: -340%;*/
    }
}

/*
################
     MAIN
################
 */

article
{
    position: relative;
    border-radius: 20px;
    background: #2c3e50;
}

article::before
{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(44, 62, 80, 0.63);
}

/*
################
     FOOTER
################
 */
.logo
{
    display: block;
    margin: 6em auto 3em;
    width: 100%;
    height: 100%;
    max-width: 535px;
    padding: 0.5em;
}

.logo img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer_container
{
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.footer_container > *
{
    width: 400px;
    text-align: center;
}

.footer_container > div > a
{
    display: block;
}

.social-list .social-link
{
    margin: 0 .5em;
    display: inline;
    font-size: var(--fs-heading2);
}

/*
################
     HOMEPAGE
################
 */

.business_card,
.paragraph_container
{
    max-width: 1300px;
    margin: 3em auto;
    padding: 3em;

}

.business_card
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.business_card > *
{
    width: 50%;
    padding: 1em;
}

.business_card img
{
    display: block;
    width: 80%;
    max-height: 650px;
    border-radius: 20px;
    margin-inline: auto;
}

@media all and (max-width: 720px) {

    .business_card {
        flex-direction: column;
    }

    .business_card > * {
        width: 100%;
    }
}
/*
################
     TOURS
################
 */

.tours_container
{
    display: flex;
    flex-flow: wrap;
    width: 100%;
}

.tour
{
    width: 50%;
    height: 600px;
}
.index
{
    flex-direction: row;
}
.index .tour
{
    width: 33.3%;
}

.txt
{
    position: relative;
    top: 30%;
    left: 15%;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 2s;
    animation-name: posi;
    animation-duration: 2s;
    z-index: 1;
    transition: top 0.3s ease 0s;
}

.txt a
{
    text-decoration: none;
    margin-top: 2em;
    padding: 2em 0;
    color: #d2d2d2;
}

.txt h2,
.txt a,
.txt p
{
    color: #d2d2d2;
}

.txt a:hover {
    color: hsl(180, 100%, 25%);
}

@-webkit-keyframes posi {
    from {
        left: 25%;
    }
    to {
        left: 15%;
    }
}
@keyframes posi {
    from {
        left: 25%;
    }
    to {
        left: 15%;
    }
}

.tour_info
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
    gap: 5px;
    margin: 2em auto;
}

.tour_info > *
{
    width: 330px;
    height: 220px;
    text-align: center;
}

.ticket_info
{
    font-size: calc(var(--fs-body) - 0.3em);
    color: grey;
}

.ticket_price
{
    color: var(--cl-accent);
}

/*
################
     GALLERY
################
 */

.grid_container {
    display: grid;
    grid-gap: .5em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 100px;
    grid-auto-flow: dense;
    padding: 0.5em;
    background: #2c3e50;
    border-radius: 15px;
}



.card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

.grid_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.vertical {
    grid-row: span 4;

}

.horizontal {
    grid-row: span 4;
    grid-column: span 2;
}

@media all and (max-width: 720px)
{
    .grid_container
    {
        grid-template-columns: 1fr;
    }

    .grid_container > *
    {
        grid-column: 1;
    }

}

/*
################
     REVIEWS
################
 */

.review
{
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
}

.review_small
{
    grid-row: span 3;
}

.review_medium{
    grid-row: span 3;
}

.review_large
{
    grid-row: span 8;
}

@media all and (max-width: 500px)
{

}

/*
################
     SHOP
################
 */

.main_container
{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100vh;

}

.product_container
{
    width: 100%;
}

.front_side
{

}

.back_side
{
    top: 100px;
    left: 150px;
}

.product_description
{
    margin-top: 3em;
    text-align: center;
}

.product_image
{
    position: relative;
    max-width: 400px;
    width: 40%;
    max-height: 600px;
    height: 70%;
    margin-top: 2em;
    margin-left: 20%;
}

.product_image img
{
    position: absolute;
    display: block;
    width: 100%;
    box-shadow: 2px 2px 20px #000;
    object-fit: contain;
}

/*button
{
    background-color: var(--cl-accent);
    box-shadow: 4px 4px 10px var(--cl-accent-lighter);
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border: none;
    padding: 1.5em 3em;
    border-radius: 10px;
    bottom: 0;
    left: 2px;
}*/




@media all and (max-width: 720px)
{

    .footer_container {
        flex-direction: column;
        align-content: center;
        align-items: center;
        gap: 30px;
    }

    .tours_container {
        flex-direction: column;
    }

    .tour {
        width: 100%;
    }
}
