*
{
    box-sizing: border-box;
    margin: 0;
    line-height: 1.6;
}

:root
{
    --cl-text: hsl(317, 60%, 6%);
    --cl-background: hsl(15,33%,98%) ;
    --cl-primary: hsl(9, 100%, 94%);
    --cl-accent: hsl(180, 100%, 25%);
    --cl-accent-lighter: hsl(238, 42%, 70%);


    --f-family: "Quicksand", sans-serif;
    --fw-regular: 550;
    --fw-bold: 700;

    --fs-heading1: 1.8rem;
    --fs-heading2: 1.3rem;
    --fs-body: 1rem;

    --letter-spacing: 1.2px;

    --max-width: 1700px;
    --border-radius: 10px;
}

img
{
    width: 100%;
    height: 100%;
    object-fit: cover; /* the image keeps its aspect ratio and fills the given dimension. */
    border-radius: var(--border-radius);
    display: block;
}

/*
################
   TYPOGRAPHY
################
 */

body
{

    background: var(--cl-background);
    color: var(--cl-text);
    font-family: var(--f-family);
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    font-optical-sizing: auto;
    font-style: normal;
}


h1,
h2,
h3
{
    color: var(--cl-accent);
    font-weight: var(--fw-bold);
}
h1
{
    font-size: var(--fs-heading1);
    margin-bottom: 1em;
}

h2
{
    font-size: var(--fs-heading2);
}

h2,
h3,
h3 + p /* combinators -  style first adjacent paragraph */
{
    margin-bottom: 0.5em;
}

a,
input[type=submit]
{
    text-decoration: none;
    color: var(--cl-text);
    
}

a:hover
{
    color: var(--cl-accent);
}



/*
################
     LAYOUT
################
 */

/*
################
     HEADER
################
 */

header,
main,
footer
{
    max-width: var(--max-width);
    width:100%;
    margin: 1em auto 0;
    padding: 0 1em;
}

header
{
    display: flex;
    height: 150px;
}

.navbar_container /* contains logo, toggle and menu (links)  */
{
    display: flex;
    align-items: center; /* cross-axis */
    justify-content: space-between; /* main-axis*/
    /* padding: 0 2em; */
    width: 100%;
    max-width: var(--max-width);
}

.navbar_container .navbar_menu
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    list-style: none;
}

.navbar_container .navbar_menu a,
input[type=submit]
{

    font-size: var(--fs-heading2);
    padding: 0.3em 1em;
    border-radius: 25px;
    transition: all 0.3s ease;
    white-space: nowrap;
    font-weight: var(--fw-bold);
}

.navbar_toggle
{
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: none;
    margin-left: 2em;
}

.bar
{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: #000000;
    transition: all 0.3s ease-in-out;
}

.dropdown
{
    position: relative;
}

/* Dropdown Menu */


.dropdown_menu {

    position: absolute;
    background-color: var(--cl-background);
    top: 98%;
    left: -100%;
    width: 400px;
    height: 0;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 2;
    opacity: 0;
    transform: translateY(-10px); /* Slightly above the parent */
    transition: opacity 0.3s ease, transform 0.3s ease, height 0.3s ease; /* Smooth transition */
    list-style: none;
    overflow: hidden;
}

.dropdown_menu li
{
    padding: 0.3em 1.5em;
}

.dropdown:hover .dropdown_menu {
    height: auto;
    opacity: 1; /* Make it fully visible */
    transform: translateY(5px); /* Slide to original position */
}


#active,
.navbar_container .navbar_menu a:hover,
input[type=submit]:hover
{
    background: var(--cl-accent);
    color: white;
}

@media all and (max-width: 1320px)
{

    .navbar_container .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem !important;
        position: absolute;
        z-index: 2;
        width: 300px;
        min-height:400px;
        top: 0;
        right: 5px;
        padding: 8em 0 2em;
        background: var(--cl-background);
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }

    .navbar_container .dropdown_menu {
        left: -220%;
    }

    .navbar_container .navbar_menu.openNavbar {
        display: flex;
    }

    .navbar_toggle {
        display: block;
        z-index: 3;
    }

    .navbar_toggle.openNavbar .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar_toggle.openNavbar .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar_toggle.openNavbar .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
@media all and (max-width: 550px)
{
    .dropdown
    {
        position: static;
        text-align: center;
    }

    .navbar_container  .dropdown_menu {
        position: static;
        height: auto;
        opacity: 1;
        box-shadow: none;
        transform: translate(-30px, 5px) !important;
        width: 350px;
        background: transparent;
    }
}

@media (pointer: coarse) and (max-width: 500px)
{
    .dropdown
    {
        position: static;
        text-align: center;
    }

    .navbar_container  .dropdown_menu {
        position: static;
        height: auto;
        opacity: 1;
        box-shadow: none;
        transform: translate(-30px, 5px) !important;
        width: 350px;
        background: transparent;
    }
}

/*
################
     MAIN
################
*/

/*
################
     SLIDERS
################
 */

  /* container for sliders */
.slider {
    position: relative;
    max-width: var(--max-width);
    width: 100%;
    margin-inline: auto;
    font-optical-sizing: auto;
    border-radius: var(--border-radius);

}

/* container for actual images */
.myslide
{
    max-height: 800px;
    overflow: hidden; /* the rest of the content is invisible */
    display: block; /* overflow works for block elements with specific height */
    border-radius: var(--border-radius);
    
}

/* applied to myslide */
.opacity {opacity: 0.2;}

/* applied to each image - combined with the overlay, images will looked darken for the text to stand out  */
.overlay {background: #2c3e50;}

/* hover effect applies only to slide with overlays */
.overlay img { transition: transform 0.3s ease-in-out }

.overlay:hover img { transform: scale(1.1)}

.flex3
{
    display: flex;
    gap: 5px;
}

.col-3
{
    flex-basis: 33.3%;
    position: relative;
    height: 500px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.txt
{
    position: absolute;
    top: 30%;
    left: 15%;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 2s;
    animation-name: posi;
    animation-duration: 2s;
    z-index: 1;
    transition: top 0.3s ease 0s;
    white-space: normal;
    width: 70%;
}

.txt h2 { font-size: 20.8px}
.txt p,a { font-size: 16px }

.txt a
{
    text-decoration: none;
    margin-top: 2em;
    padding: 2em 0;
    color: #d2d2d2;
}

.txt h2,
.txt a,
.txt p
{
    color: #d2d2d2;
    font-weight: var(--fw-bold);
}

.txt a:hover {
    color: hsl(180, 100%, 25%);
}

@-webkit-keyframes posi {
    from { left: 25%; }
    to { left: 15%; }
}
@keyframes posi {
    from { left: 25%; }
    to { left: 15%; }
}



@media all and (max-width: 750px)
{
    .higher {height: 1000px}

    .flex3 {flex-direction: column}
}

@media (pointer: coarse) and (max-width: 450px)
{
    .txt {top: 20%;}
}


/* @media all and (max-width: 500px)
{
    .txt{top: 20%}
} */

/*
################
     CAROUSEL FEATURES
################
 */

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #d6d6d6;
    transition: 0.1s;
    user-select: none;
}
.prev:hover,
.next:hover {
    color: #ffffff;
}
.next {
    right: 0;
}
.dotsbox {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 7px;
    cursor: pointer;
}
.dot {
    display: inline-block;
    width: 33px;
    height: 3px;
    background-color: #b7b7b7;
    border-radius: 3px;
    margin: 0 10px;
    cursor: pointer;
}
.active,
.dot:hover {
    background-color: #FFF;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: 0.9
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}

@media all and (max-width: 750px)
{
    .dotsbox { display: none}
    .prev, .next { font-size: 20px}
}

/*
################
     FOOTER
################
 */
.logo
{
    display: block;
    margin: 100px auto 100px;
    width: 100%;
    height: 100px;
    max-width: 535px;
}

.logo img {object-fit: contain;} /* image resized to fit within given dimension */

.footer_container
{
    display: flex;
    justify-content: space-evenly;
}

.footer_container > *
{
    flex-basis: 30%;
    text-align: center;

}

.footer_container > div > a
{
    display: block; /* anchors are inline per default - want them on different lines */
}

.social-list .social-link /* double class for specificity reason - override the property above */
{
    margin: 0 .5em;
    display: inline;
    font-size: var(--fs-heading2);
}

@media all and (max-width: 750px)
{
    .footer_container {
        flex-direction: column;
        gap: 3em;
    }
}

/*
################
     HOMEPAGE
################
 */

.business_card,
.paragraph_container
{
    max-width: 1300px;
    margin: 2em auto;
}

.business_card
{
    display: flex;
    justify-content: space-between;
}

.business_card > *
{
    flex-basis: 50%;
    padding: 1em;
}

.business_card_img
{
    width: 65%;
    max-height: 550px;
    margin-inline: auto;
}

.paragraph_container ul li {margin: 0.9em 0;}

#extra_margin {margin: 100px auto;}

@media all and (max-width: 750px) 
{
    .business_card {flex-direction: column}
}


/*
################
     TOURS
################
 */

 .tour_grid
{ 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 5px;
}

@media all and (max-width: 450px)
{
    .tour_grid { grid-template-columns: 1fr}
    .tour_grid > * { height: 400px}
}

.tour_grid > *
{
    position: relative;
    
}

.tour_info
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
    gap: 5px;
    margin: 3em auto 0;
}

.tour_info > *
{
    width: 330px;
    min-height: 200px;
    text-align: center;
}

.sub-color
{
    font-size: calc(var(--fs-body) - 0.3em);
    color: grey;
}

.accent-color
{
    color: var(--cl-accent);
    font-weight: var(--fw-bold);
    padding: 0;
}

.book_btn
{
    width: 100%;
    padding: 0.5em 1em;
    display: inline-block;
    border: 3px solid var(--cl-accent);
    border-radius: 25px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    margin-bottom: 3em;
    text-align: center;
    background-color: var(--cl-accent);
    color: #FFF;
    box-shadow: 2px 3px 3px var(--cl-accent-lighter);
}

.book_btn:hover 
{
    color: #FFF;
}

/*
################
     ITINERARY
################
 */

form
{
    max-width: 800px;
    padding: 2em; 
    margin: 100px auto 0;
    border: 1px solid var(--cl-accent);
    border-radius: 15px;
    font-family: var(--f-family);
    box-shadow: 0 2px 3px var(--cl-accent);
}

label
{
    color: var(--cl-accent);
    font-size: var(--fs-heading2);
    display: block;
}

input,
select,
option
{
    width: 100%;
    padding: 0.5em 1em;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-family: var(--f-family);
    font-size: 100%;
    color: inherit;
    background: transparent;
}

input:focus
{
    border: 1px solid var(--cl-accent);
}

textarea
{
    width: 100%;
    height: 150px;
    padding: 0.5em 1em;
    border-radius: 4px;
    resize: none;
    font-family: var(--f-family);
}

.itinerary_btn {display: none;}

@media all and (max-width: 600px)
{
    button:hover {cursor: pointer;}

    .itinerary_header
    {
        /* display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; */
    }

    .itinerary_btn
    {
        display: block;
        padding: 0.6em; 
        background: transparent; 
        font-size: 1.5rem; 
        color: hsl(180, 100%, 25%);
        background: url('./images/opt-images/assets/arrow.png');
        background-size: contain;
        background-repeat: no-repeat;
        float: inline-end;
        margin-inline-start: 1em;
        border: none;
        
    }

    .itinerary_description
    {
        /* opacity: 0;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
        overflow: scroll; */
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.5s ease;
        display: grid;
    }

    .itinerary_description:not(.hide)
    {
        grid-template-rows: 1fr !important;
    }

    .rotated
    {
        transform: rotate(180deg);
    }
}


/*
################
     GALLERY
################
 */

.grid_container
{
    display: grid;
    grid-gap: .5em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 100px;
    grid-auto-flow: dense;
    padding: 0.5em;
    border-radius: 15px;
}


article
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}


.vertical {grid-row: span 4}

.horizontal
{
    grid-row: span 4;
    grid-column: span 2;
}

@media all and (max-width: 600px)
{
    .grid_container { grid-template-columns: 1fr }
    .horizontal { grid-column: span 1;}
}
